header{
  color:white;
  background-color: black;
  text-align: center;
  font-size: 36px;
  font-style: 'Fredericka the Great';
  font-family: 'Fredericka the Great', cursive;
}
body{
  background-color: #FF1C52
}
nav li{
  display:block;
}
